* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Poppins", sans-serif;
}
ul {
  list-style: none;
}
a {
  color: inherit;
  text-decoration: none;
}
/* Globally */
.container {
  width: 100%;
  padding: 0 30px;
}
.show {
  display: flex;
}
/* Start product-details */
.product-details__content {
  display: flex;
  justify-content: space-evenly;
}

.product-details__content__img {
  width: 50%;
}
.product-details__content__img img {
  width: 100%;
  object-fit: fill;
}
.product-details__content__text {
  padding: 20px;
  width: 40%;
}
@media (max-width: 768px) {
  .product-details__content {
    flex-direction: column;
    align-items: center;
  }
  .product-details__content__img,
  .product-details__content__text {
    width: 90%;
  }
}
.product-details__content__text .header h3 {
  font-size: 28px;
}
.product-details__content__text .header p {
  font-size: 18px;
}
.product-details__content__text .header h3,
p {
  font-weight: 500;
  margin-bottom: 15px;
}
.product-details__content__text .fabric p {
  margin: 15px 0;
  font-weight: 700;
  color: #5c5c5c;
}
.product-details__content__text ul {
  margin: 20px 0;
}
.product-details__content__text ul li span {
  font-size: 15px;
  font-weight: 400;
}
.product-details__content__text .size {
  margin: 15px 0;
}
.product-details__content__text .size .size-select {
  width: 100%;
  padding: 10px 0;
  border: 1px solid;
  border-color: #818181;
  cursor: pointer;
  font-size: 18px;
  font-weight: 700;
}
.product-details__content__text .size .size-select option {
  text-align: center;
  font-size: 18px;
  font-weight: 700;
}
.product-details__content__text .quantity span,
.product-details__content__text .size span {
  display: block;
  margin-bottom: 5px;
}
.product-details__content__text .quantity .quantity-input {
  display: flex;
  padding: 8px;
  gap: 10px;
  border: 1px solid #000;
  width: fit-content;
}
.product-details__content__text .quantity .quantity-input span {
  font-size: 18px;
  user-select: none;
  cursor: pointer;
}
.product-details__content__text .quantity .quantity-input input {
  border: none;
  text-align: center;
}
.product-details__content__text
  .quantity
  .quantity-input
  input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
.product-details__content__text .submit {
  margin-top: 50px;
}
.product-details__content__text .submit button {
  width: 100%;
  padding: 14px 28px;
  line-height: normal;
  outline: 1px solid black;
  border-radius: 0;
  text-transform: uppercase;
  font-size: 13px;
  text-align: center;
  letter-spacing: 0.1em;
  font-weight: 700;
  cursor: pointer;
  transition: 0.4s;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
}
.product-details__content__text .submit button:hover {
  background-color: #000;
  color: #fff;
  border-color: #000;
}
/* End product-details */
